In [ ]:
#Heroes of poly 

import pandas as pd 

file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [ ]:
# View the data
purchase_data.head()

In [ ]:
# Determine if there are any NA velues that we have to get rid of
purchase_data.count()

In [ ]:
# determine the total number of players (unique SNs)
total_players = purchase_data["SN"].unique()
len(total_players)

In [ ]:
# Create and print the Total Players Data Frame
total_players_df = pd.DataFrame({"Total Players":[576]})
total_players_df

In [ ]:
# number of unique items
unique_items = purchase_data["Item ID"].unique()
len(unique_items)

In [ ]:
# Average Purchase price
average_purchase = purchase_data["Price"].mean()
average_purchase

In [ ]:
#Total number of purchase
len(purchase_data)

In [ ]:
# Total Purchase value
total_purchases = purchase_data["Price"].sum()
total_purchases

In [ ]:
# Create and print Data Frame
purchasing_analysis = pd.DataFrame({"number of Unique items":[len(unique_items)], 
                                   "Average Price": "$"+str(round(average_purchase,2)),
                                   "Number of Purchases":[len(purchase_data)],
                                   "Total Revenue":"$"+str(total_purchases)})
purchasing_analysis

In [ ]:
# determine the number of males, females and other in the df 
gender_count = purchase_data["Gender"].value_counts()
gender_count

In [ ]:
# Create a new data fram with only unique players
unique_players_df = purchase_data.groupby(['SN'])
unique_players_df.head()
len(unique_players_df)

In [ ]:
# Create three different adat frames
male_only = unique_players_df.loc[unique_players_df("Gender")=="Male", :]
len(male_only)

In [ ]:
male_counter = 0
female_counter = 0 
other_counter = 0


for ii in purchase_data["Gender"]:
    if ii == "Male":
        male_counter = male_counter + 1
    elif ii == "Female":
        female_counter = female_counter + 1
    else: 
        other_counter = other_counter + 1

In [ ]:
male_counter = 484
female_counter = 81
other_counter = 11

In [ ]:
gender_df = {"Total Count":[male_counter, female_counter, other_counter], 
                                   "Percentages": [str((male_counter/len(total_players))*100)+"%",
                                                  str((female_counter/len(total_players))*100)+"%",
                                                  str((other_counter/ len(total_players))*100)+"%"]}
gender_analysis = pd.DataFrame(gender_df, index = ['Male','Female', 'Other'])
gender_analysis

In [ ]:
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group

#First, create the bis
bins = [0,9,14,19,100]
group_names = ["< 10","10-14","15-19","20+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels = group_names, include_lowest=True)
purchase_data.head()

In [ ]:
age_group = purchase_data.groupby("Age Group")

In [ ]:
purchase_count = age_group ["Age Group"].count()
purchase_count

In [ ]:
average_purchase_price = age_group ["Price"].mean()
average_purchase_price

In [ ]:
total_purchase = age_group ["Price"].sum()
total_purchase

In [ ]:
ppa = {"Purchase Count":[23,28,136,593],
      "Average Purchase": ["$3.35","$2.9","$3.03","3.04"],
      "Total Purchase Value":["$77.13", "$82.78","$412.89","$1806.97"]}
ppa_analysis = pd.DataFrame(ppa, index = ['<10','10-14','15-19', '20+'])
ppa_analysis

In [ ]:
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value

In [145]:
purchase_data.groupby(["SN"]).sum().sort_values("Price", ascending=False)

             Purchase ID  Age  Item ID  Price
SN
Lisosia93           1630  125      451  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10
...                  ...  ...      ...    ...
Ililsasya43          702   19       12   1.02
Irilis75             582   20       19   1.02
Aidai61              282   21      155   1.01
Chanirra79           586   23      155   1.01
Alo38                 63   20      125   1.00

[576 rows x 4 columns]

In [148]:
pp1 = {"Purchase Count":[5,4,3,4,3],
      "Average Purchase":["$3.79","$3.86","$4.61","3.40","$4.37"],
      "Total Purchase Value":["$18.96", "$15.45","$13.83","$13.62","$13.10"]}
ppa_analysis1 = pd.DataFrame(pp1, index = ['Lisosia93','Idastidru52','Chamjask73', 'Iral74','Iskadarya95'])
ppa_analysis1

             Purchase Count Average Purchase Total Purchase Value
Lisosia93                 5            $3.79               $18.96
Idastidru52               4            $3.86               $15.45
Chamjask73                3            $4.61               $13.83
Iral74                    4             3.40               $13.62
Iskadarya95               3            $4.37               $13.10

In [ ]:
#Identify the 5 most popular items by purchase count, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value