In [118]:
#Heroes of poly 

import pandas as pd 

file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [119]:
# View the data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [120]:
# Determine if there are any NA velues that we have to get rid of
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [ ]:
# determine the total number of players (unique SNs)
total_players = purchase_data["SN"].unique()
len(total_players)

In [ ]:
# Create and print the Total Players Data Frame
total_players_df = pd.DataFrame({"Total Players":[576]})
total_players_df

In [ ]:
# number of unique items
unique_items = purchase_data["Item ID"].unique()
len(unique_items)

In [ ]:
# Average Purchase price
average_purchase = purchase_data["Price"].mean()
average_purchase

In [ ]:
#Total number of purchase
len(purchase_data)

In [ ]:
# Total Purchase value
total_purchases = purchase_data["Price"].sum()
total_purchases

In [ ]:
# Create and print Data Frame
purchasing_analysis = pd.DataFrame({"number of Unique items":[len(unique_items)], 
                                   "Average Price": "$"+str(round(average_purchase,2)),
                                   "Number of Purchases":[len(purchase_data)],
                                   "Total Revenue":"$"+str(total_purchases)})
purchasing_analysis

In [ ]:
# determine the number of males, females and other in the df 
gender_count = purchase_data["Gender"].value_counts()
gender_count

In [ ]:
# Create a new data fram with only unique players
unique_players_df = purchase_data.groupby(['SN'])
unique_players_df.head()
len(unique_players_df)

In [ ]:
# Create three different adat frames
male_only = unique_players_df.loc[unique_players_df("Gender")=="Male", :]
len(male_only)

In [ ]:
male_counter = 0
female_counter = 0 
other_counter = 0


for ii in purchase_data["Gender"]:
    if ii == "Male":
        male_counter = male_counter + 1
    elif ii == "Female":
        female_counter = female_counter + 1
    else: 
        other_counter = other_counter + 1

In [ ]:
male_counter = 484
female_counter = 81
other_counter = 11

In [ ]:
gender_df = {"Total Count":[male_counter, female_counter, other_counter], 
                                   "Percentages": [str((male_counter/len(total_players))*100)+"%",
                                                  str((female_counter/len(total_players))*100)+"%",
                                                  str((other_counter/ len(total_players))*100)+"%"]}
gender_analysis = pd.DataFrame(gender_df, index = ['Male','Female', 'Other'])
gender_analysis

In [ ]:
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group

#First, create the bis
bins = [0,9,14,19,100]
group_names = ["< 10","10-14","15-19","20+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels = group_names, include_lowest=True)
purchase_data.head()

In [ ]:
age_group = purchase_data.groupby("Age Group")

In [ ]:
purchase_count = age_group ["Age Group"].count()
purchase_count

In [ ]:
average_purchase_price = age_group ["Price"].mean()
average_purchase_price

In [ ]:
total_purchase = age_group ["Price"].sum()
total_purchase

In [114]:
ppa = {"Purchase Count":[23,28,136,593],
      "Average Purchase": ["$3.35","$2.9","$3.03","3.04"],
      "Total Purchase Value":["$77.13", "$82.78","$412.89","$1806.97"]}
ppa_analysis = pd.DataFrame(ppa, index = ['<10','10-14','15-19', '20+'])
ppa_analysis

       Purchase Count Average Purchase Total Purchase Value
<10                23            $3.35               $77.13
10-14              28             $2.9               $82.78
15-19             136            $3.03              $412.89
20+               593             3.04             $1806.97

In [ ]:
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value

In [117]:
top_df = purchase_data.groupby("SN")

576

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       2.42
Yathedeu43       3.75
Yoishirrala98    4.58
Zhisrisu83       4.35
Zontibe81        3.79
Name: Price, Length: 576, dtype: float64

In [124]:
sec = purchase_data["Price"].max()
sec

4.99