In [26]:
#Heroes of poly 

import pandas as pd 

file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

In [27]:
# View the data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [28]:
# Determine if there are any NA velues that we have to get rid of
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [29]:
# determine the total number of players (unique SNs)
total_players = purchase_data["SN"].unique()
len(total_players)

576

In [30]:
# Create and print the Total Players Data Frame
total_players_df = pd.DataFrame({"Total Players":[576]})
total_players_df

   Total Players
0            576

In [32]:
# number of unique items
unique_items = purchase_data["Item ID"].unique()
len(unique_items)

183

In [33]:
# Average Purchase price
average_purchase = purchase_data["Price"].mean()
average_purchase

3.050987179487176

In [34]:
#Total number of purchase
len(purchase_data)

780

In [35]:
# Total Purchase value
total_purchases = purchase_data["Price"].sum()
total_purchases

2379.77

In [52]:
# Create and print Data Frame
purchasing_analysis = pd.DataFrame({"number of Unique items":[len(unique_items)], 
                                   "Average Price": "$"+str(round(average_purchase,2)),
                                   "Number of Purchases":[len(purchase_data)],
                                   "Total Revenue":"$"+str(total_purchases)})
purchasing_analysis

   number of Unique items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [55]:
# determine th enumber males females and other in the df 
gender_count = purchase_data["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [58]:
male_counter = 0
female_counter = 0 
other_counter = 0


for ii in purchase_data["Gender"]:
    if ii == "Male":
        male_counter = male_counter + 1
    elif ii == "Female":
        female_counter = female_counter + 1
    else: 
        other_counter = other_counter + 1

In [62]:
male_counter
#female_counter
#other_counter

652